
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#main-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#main-content #projects {
    flex-basis: 1;
}

#main-content #maininfo {
    flex-basis: 1;
}